/* common shared styles */
body {
    font-family: 'Work Sans';
}

* {
    margin: 0px;
    padding: 0px;
}

/* banner section styles */

.banner-section {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    /* width: 1600px; */
    height: 808px;
    /* display: flex; */
    padding-right: 230px;
    padding-top: 215px;
    text-align: right;
}

.banner-title {
    color: #FFF;
    /* text-align: right; */
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 25px;

}

.banner-des {
    color: #FFF;
    /* text-align: right; */
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
}

.button-primary {
    /* text-align: right; */
    padding: 25px 20px;
    border: 0px;
    border-radius: 5px;
    background: #FFF;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
}

.failure {
    display: flex;
    background: #FFF;
    justify-content: space-between;
    align-items: center;
    padding-left: 275px;
    padding-right: 320px;
}

.section-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 25px;
}

.list {
    /* list-style: none; */
    padding-top: 15px;
    padding: 8px 0px;
}

.girl {
    margin-right: 100px;
    height: 898px;
}

#plan {
    text-align: center;
}

.my-plan {
    background: #FFF;
    padding-left: 230px;
    padding-right: 230px;
}

.icons {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.skills,
h2,
p {
    margin: 15px;
}

.skills p {
    color: #737272;
}

.skills h2 {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
}

.photo {
    margin-top: 135px;
    margin-bottom: 130px;
    padding-left: 295px;
    padding-right: 295px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    height: 300px;
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
}

.photo-title {
    padding-top: 60px;
    padding-bottom: 25px;
    color: #FFF;
    font-size: 40px;
}

.sec-des {
    display: flex;
    width: 416px;
}

.future {
    background: #151414;
    display: flex;
    justify-content: space-between;
    padding-top: 130px;
    padding-left: 230px;
    padding-right: 230px;
    color: #F8F8F8;
}

#fut {
    margin-left: 15px;
}

.left {
    text-align: left;
    margin-bottom: 210px;
}

.right {
    padding-right: 230px;
    margin-bottom: 210px;
}

.eml {
    padding: 20px 160px 20px 20px;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #151414;
    color: #F3F3F3;
    margin-top: 30px;
    margin-bottom: 35px;
    margin-left: 15px;
}

.sub {
    font-size: 25px;
    font-weight: 600;
}

.button-sub {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    background: #005FAC;
    padding: 20px 35px;
    margin-left: 15px;
    border: 0px;
    border-radius: 8px;
}
.social{
    margin-left: 15px;
}
.sci{
    margin-right: 10px;
}